body {
    font-family: Georgia, Times New Roman, Times, serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

div {
    margin-top: 30px;
    background: white;
    padding: 25px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

h1::before{
    content: "→ ";
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #444;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #af904c;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #d77225;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #555;
}
